<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>iansinnott.keyboardmaestro</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Ian Sinnott</string>
	<key>description</key>
	<string>Search Keyboard Maestro Macros</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Maestro</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string># Alfred Maestro

### By Ian Sinnott

Author URL: http://iansinnott.com
Email: http://iansinnott.com/contact
Twitter: @ian_sinn</string>
	<key>uidata</key>
	<dict/>
	<key>version</key>
	<string>0.2.1</string>
	<key>webaddress</key>
	<string>http://iansinnott.com</string>
</dict>
</plist>
